<%- include('../_partial/_header.ejs'); -%>


    <div class="container">

        <div class="row p-5">
            <%- include('../_partial/_postPagination'); -%>
            <!-- Articles pagination-->
            <% for(let i=0 ; i < articles.length; i++) { %>
                <div class="col-md-4">
                    <div class="p-3">

                        <div class="card shadow-lg rounded p-3">
                            <div class="row">
                                <div class="col-1">
                                </div>
                                <div class="col-9">
                                    <h1 class="text-dark">
                                        <%= articles[i].title %>
                                    </h1>
                                </div>

                                <!-- Display more button -->
                                <div class="col-2">
                                    <div class=" more position-relative" style="cursor: pointer;">
                                        <i class="material-icons p-2">more_vert</i>
                                        <!-- Option list -->
                                        <div class="d-none card rounded-lg shadow-sm p-1 position-absolute"
                                            style="z-index: 9000;">
                                            <a href="../articles/edit/<%= articles[i].id %>"
                                                class="rounded-pill p-2 mb-2 d-flex align-items-center"
                                                style="background:blue;">
                                                <i class="material-icons" style="color:white">create</i>
                                            </a>
                                            <button data-bs-id="<%= articles[i].id %>" class="rounded-circle p-2 bg-danger" data-bs-title="<%= articles[i].title %>" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                                <i class="material-icons" style="color:white">delete
                                                </i>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Posts -->
                            <div class="row">
                                <div class="col-12 card-img bg-dark bg-gradient">
                                    <img src="../../public/uploads/images/<%= articles[i].img %>" class="card-img"
                                        alt="...">

                                </div>
                            </div>
                            <div class="d-flex align-items-end mt-3">
                                <div class="mr-2">
                                    <img src="../../public/uploads/images/<%= articles[i].img %>" class="rounded-circle"
                                        style="width: 60px; height: 60px;">
                                </div>
                                <div class=" flex-grow-1">
                                    <h5 class="text-dark" style="font-size: 16px; line-height: 0.5rem;">
                                        <span><b>
                                                <%= articles[i].author %>
                                            </b></span>
                                    </h5>
                                    <p style="font-size: 12px; line-height: 0.2rem;" class="text-dark">
                                        <%= articles[i].createdAt.toLocaleDateString() %> %>
                                    </p>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-sm-10"> 
                            <p class="card-text text-dark">
                                <%- articles[i].sanitizedHtml %>
                            </p>
                            </div>
                            <div class="col-sm-2 d-flex justify-content-end">
                            <a href="articles/<%= articles[i].slug %>" class="align-self-end">
                                <i class='material-icons ml-3'>send</i>
                            </a>
                        </div>
                        </div>


                        </div>
                    </div>
                </div>
                <% } %>

                <%- include('../form/_modalDelete'); -%>
                <%- include('../_partial/_postPagination'); -%>
        </div>
    </div>

    <%- include('../_partial/_footer.ejs'); -%>